html {
    text-align: center; 
    background-color: white;
    font-size: 1vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  @media (max-width: 66vh) {
    html {
      font-size: 1.5vw;
    }
  }
  
  body {
    background-color: #23462d;
    color: #cacaca;
    font-family: 'Cabin Sketch', "Arial";
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
    width:75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  
  @media (max-width: 100vh) { 
    body {
      width: 100vw;
    }
  }
  
  svg {
    height: 36vh;
  }
  
  @media (max-width: 40vh) { 
    svg {
    height: 90vw;
    }
  }
  
  h1 {
    font-size: 8.4rem;
    font-weight: 100;
    margin: 2.5rem 0;
  }
  
  h2 {
    font-size: 4.5rem;
    text-decoration: underline;
    cursor: pointer;
    font-weight: 100;
    margin: 1.7rem;
  }
  
  #keypad a {
    font-size: 6.4rem;
    padding: 0.3rem 1rem;
    cursor: pointer;
  }
  
  #keypad a.finished {  
    cursor: default;
  }
  
  #guessing {
    font-size: 6.2rem;
    margin: 2.4rem auto;
  }
  
  #keypad .correct-letter {  
    color: #89d47b;
    cursor: no-drop;
  }
  
  #keypad .incorrect-letter { 
    color: #f57b7b;
    cursor: no-drop;
  }
  
  .hidden {  
    display: none;
  }
  
  [status="escaped"] {  
    color: #89d47b;
  }
  
  [status="hanged"] {  
    color: #f57b7b;
  }
  
  
  #tally {
    margin-bottom: 1rem;
  }
  span {
    font-size: 3.3rem;
  }
  
  #wins,
  #losses {
    margin-right: 4rem
  }
  
  a:hover {
    color: white;
  }
  
  a:active {  
    position: relative;
    top: 2px;
  }
  
  svg {
    stroke: #cacaca;
    stroke-width: 3.8;
    stroke-linecap: round;
  }
  