{{define "jeu"}}

<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="style/jeu.css"/>

    <title>Hangman-WEB</title>
</head>

<body>
    <div class="style_programme">
        <p>Test</p>
        <p class="hidden_word">{{.Mot}}</p>
        <p class="text">Attempt Left : {{.Score}}</p>
    </div>

    <div class="form">
        <form action="/treatment/jeu" method="POST">
            <label for="lettre">Choisissez une lettre/mot</label><br>
            <input id="form_bar" type="text" name="lettre" autofocus><br>
            <button id="button" type="submit" value="Send The Letter"></button>
        </form> 
    </div>
    <div class="hang">

        {{ if eq .Score 9}}
            <img src="style/image/1.png" alt="1ere erreur">
        {{ else if eq .Score 8}}
            <img src="style/image/2.png" alt="2eme erreur">
        {{ else if eq .Score 7}}
            <img src="style/image/3.png" alt="3eme erreur">
        {{ else if eq .Score 6}}
            <img src="style/image/4.png" alt="4eme erreur">
        {{ else if eq .Score 5}}
            <img src="style/image/5.png" alt="5eme erreur">
        {{ else if eq .Score 4}}
            <img src="style/image/6.png" alt="6eme erreur">
        {{ else if eq .Score 3}}
            <img src="style/image/7.png" alt="7eme erreur">
        {{ else if eq .Score 2}}
            <img src="style/image/8.png" alt="8eme erreur">
        {{ else if eq .Score 1}}
            <img src="style/image/9.png" alt="9eme erreur">
        {{ else if eq .Score 0}}
            <img src="style/image/10.png" alt="10eme erreur">
        {{ end }}

    </div>

    <footer>
        <div class=block_footer>
            <div class="block_puce_footer">
                <br>
                <br>
                <br>
                <br>
                <br>
                <p class="text">Developpeur WEB: Arthur Herry</p>
                <p class="text">Programmeur Golang: Louka Siary Maurel</p>
            </div>
            <div class="block_logo_ynov_footer">
                <br>
                <br>
                <br>
                <img class="logo_ynov_footer "src="style/image/prj_ynov.png" alt="logo YNOV Campus"/>
            </div>
        </div>
    </footer>
    
</body>
</html>
{{end}}